---
import Layout from "../layouts/Layout.astro";
---

<Layout title="VerbiQ | Politicas de Privacidad" className="section-basic">
  <h1>Políticas de Privacidad de VerbiQ</h1>
  <p><strong>Última actualización:</strong> 29/08/2024</p>
  <div class="section-basic__container">
    <h2>1. Introducción</h2>
    <p>
      En <strong>VerbiQ</strong>, valoramos su privacidad. Estas Políticas de
      Privacidad explican cómo recopilamos, utilizamos, y protegemos la
      información personal que usted proporciona al utilizar la aplicación <strong
        >VerbiQ</strong
      >.
    </p>

    <h2>2. Información que Recopilamos</h2>
    <p>
      Podemos recopilar varios tipos de información cuando usted utiliza nuestra
      aplicación, incluyendo:
    </p>
    <ul>
      <li>
        <strong>Información personal:</strong> Datos como su nombre, dirección de
        correo electrónico y otra información de contacto que proporciona al crear
        una cuenta.
      </li>
      <li>
        <strong>Datos de uso:</strong> Información sobre cómo interactúa con la aplicación,
        incluyendo su dirección IP, tipo de dispositivo, sistema operativo, y patrones
        de uso.
      </li>
      <li>
        <strong>Contenido para traducción:</strong> Imágenes, texto, y audio que
        usted carga para su traducción a través de la aplicación.
      </li>
    </ul>

    <h2>3. Uso de la Información</h2>
    <p>La información recopilada se utiliza para:</p>
    <ul>
      <li>
        Proporcionar y mejorar los servicios de traducción ofrecidos por la
        aplicación.
      </li>
      <li>
        Personalizar su experiencia de usuario y ofrecerle funciones y
        contenidos relevantes.
      </li>
      <li>
        Comunicarnos con usted sobre actualizaciones, ofertas y otras noticias
        relacionadas con la aplicación.
      </li>
      <li>
        Cumplir con las obligaciones legales y proteger nuestros derechos.
      </li>
    </ul>

    <h2>4. Compartir Información con Terceros</h2>
    <p>
      No compartimos su información personal con terceros, excepto en las
      siguientes circunstancias:
    </p>
    <ul>
      <li>Con su consentimiento explícito.</li>
      <li>
        Para cumplir con leyes aplicables, regulaciones, procesos legales o
        solicitudes gubernamentales.
      </li>
      <li>
        Para proteger la seguridad y los derechos de <strong>VerbiQ</strong>,
        nuestros usuarios u otras personas.
      </li>
      <li>
        En el contexto de una fusión, adquisición o venta de la totalidad o una
        parte de nuestros activos.
      </li>
    </ul>

    <h2>5. Seguridad de la Información</h2>
    <p>
      Implementamos medidas de seguridad técnicas y organizativas para proteger
      su información personal contra el acceso no autorizado, la pérdida o el
      uso indebido. Sin embargo, no podemos garantizar una seguridad absoluta,
      por lo que le instamos a que tome precauciones al compartir información en
      línea.
    </p>

    <h2>6. Retención de Datos</h2>
    <p>
      Retenemos su información personal solo durante el tiempo que sea necesario
      para cumplir con los propósitos para los cuales fue recopilada, o según lo
      exija la ley aplicable.
    </p>

    <h2>7. Derechos del Usuario</h2>
    <p>
      Usted tiene derecho a acceder, corregir, actualizar o eliminar su
      información personal en cualquier momento. Si desea ejercer alguno de
      estos derechos, puede contactarnos a través de <a
        href="mailto:contact@verbiq.net">contact@verbiq.net</a
      >.
    </p>

    <h2>8. Enlaces a Terceros</h2>
    <p>
      La aplicación puede contener enlaces a sitios web o servicios de terceros
      que no están bajo nuestro control. No somos responsables de las prácticas
      de privacidad de estos terceros, y le recomendamos que revise sus
      políticas de privacidad.
    </p>

    <h2>9. Cambios a las Políticas de Privacidad</h2>
    <p>
      Podemos actualizar estas Políticas de Privacidad periódicamente para
      reflejar cambios en nuestras prácticas o por razones legales. Cualquier
      cambio será publicado en esta página, y si son significativos, le
      notificaremos a través de la aplicación o por correo electrónico.
    </p>

    <h2>10. Contacto</h2>
    <p>
      Si tiene alguna pregunta sobre estas Políticas de Privacidad, no dude en
      contactarnos a través de <a href="mailto:contact@verbiq.net"
        >contact@verbiq.net</a
      >.
    </p>
  </div>
</Layout>
