---
import Layout from "../layouts/Layout.astro";
---

<Layout title="VerbiQ | Terminos y condiciones" className="section-basic">
  <h1>Terminos y condiciones de uso de VerbiQ</h1>
  <p><strong>Última actualización:</strong> 29/08/2024</p>
  <div class="section-basic__container">
    <h2>1. Aceptación de los Términos</h2>
    <p>
      Al descargar, instalar y utilizar la aplicación de traducción en tiempo
      real <strong>VerbiQ</strong>, usted acepta estar sujeto a estos Términos y
      Condiciones. Si no está de acuerdo con alguno de los términos aquí
      descritos, por favor, no utilice la aplicación.
    </p>

    <h2>2. Descripción del Servicio</h2>
    <p>
      <strong>VerbiQ</strong> es una aplicación de traducción en tiempo real que
      permite a los usuarios traducir contenido visual y auditivo a diferentes idiomas.
      La calidad y precisión de las traducciones pueden variar y dependen de varios
      factores, incluyendo la claridad del contenido original y la tecnología subyacente.
    </p>

    <h2>3. Uso Aceptable</h2>
    <p>
      Usted se compromete a utilizar la aplicación únicamente con fines legales
      y dentro del ámbito permitido por estos términos.
    </p>
    <ul>
      <li>
        No deberá usar la aplicación para traducir contenido que sea ofensivo,
        ilegal, o que infrinja los derechos de terceros.
      </li>
      <li>
        No deberá intentar modificar, descompilar o realizar ingeniería inversa
        de la aplicación.
      </li>
    </ul>

    <h2>4. Privacidad</h2>
    <p>
      La aplicación puede recopilar datos personales, incluyendo imágenes, audio
      y otros contenidos, para proporcionar el servicio de traducción. Consulte
      nuestra <a href="/politicas-privacidad.html">Política de Privacidad</a> para
      más detalles sobre cómo manejamos su información. Los datos proporcionados
      para la traducción no serán almacenados permanentemente, a menos que usted
      lo permita explícitamente.
    </p>

    <h2>5. Limitación de Responsabilidad</h2>
    <p>
      <strong>VerbiQ</strong> no garantiza la exactitud, integridad o idoneidad de
      las traducciones proporcionadas. En ningún caso <strong>VerbiQ</strong> será
      responsable por cualquier daño directo, indirecto, incidental, especial, o
      consecuente que resulte del uso o la imposibilidad de usar la aplicación.
    </p>

    <h2>6. Propiedad Intelectual</h2>
    <p>
      Todo el contenido, características y funcionalidad de la aplicación,
      incluyendo pero no limitado a la información, software, texto, gráficos,
      logotipos, y diseño, son propiedad de <strong>VerbiQ</strong> y están protegidos
      por las leyes de derechos de autor y otras leyes de propiedad intelectual.
    </p>

    <h2>7. Modificaciones a los Términos</h2>
    <p>
      <strong>VerbiQ</strong> se reserva el derecho de modificar estos Términos y
      Condiciones en cualquier momento. Las modificaciones serán efectivas una vez
      publicadas en esta página, y se le notificará mediante la aplicación o a través
      de correo electrónico.
    </p>

    <h2>8. Ley Aplicable</h2>
    <p>
      Estos términos se regirán e interpretarán de acuerdo con las leyes de <strong
        >Peru</strong
      >, sin considerar sus disposiciones sobre conflictos de leyes.
    </p>

    <h2>9. Contacto</h2>
    <p>
      Si tiene alguna pregunta sobre estos Términos y Condiciones, puede
      contactarnos a través de <a href="mailto:contact@verbiq.net"
        >contact@verbiq.net</a
      >.
    </p>
  </div>
</Layout>
