---
import Footer from "./Footer.astro";
import Header from "./Header.astro";

interface Props {
  title: string;
  className?: string;
}

const { title, className = "" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${import.meta.env.BASE_URL}/favicon.svg`}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class:list={["container", className]}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

  :root {
    /*colors*/
    --color-primary: #2c2c2c;
    --color-secondary: #ffffff;
    --gray-500: #eeeeee;
    --gray-600: #b5b5b5;
    --gray-900: #9c9c9c;
    --gray-950: #515151;
    /*text*/
    --text-sm: 12px;
    --text-md: 14px;
    --text-lg: 16px;
    --text-xl: 18px;
    --text-2xl: 21px;
    --text-3xl: 30px;
    --text-4xl: 40px;
    /*rounded*/
    --rounded-sm: 5px;
    --rounded-md: 10px;
    --rounded-full: 50px;
    --rounded-circular: 9999999px;
    /*weight*/
    --light: 200;
    --regular: 300;
    --semibold: 500;
    /*global*/
    font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: var(--text-md);
    color: var(--color-primary);
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  button,
  p,
  h1,
  h2,
  h3,
  h4,
  ul,
  li,
  a {
    all: unset;
  }

  h1 {
    font-size: var(--text-3xl);
    display: block;
  }

  h2 {
    font-size: var(--text-3xl);
    display: block;
  }

  h3 {
    font-size: var(--text-2xl);
    display: block;
  }

  h4 {
    font-size: var(--text-lg);
    display: block;
  }

  p {
    display: block;
  }

  .divider {
    display: block;
    width: 0.1rem;
    background-color: var(--gray-900);
  }

  .container {
    padding: 0.5rem 4rem;
    max-width: 1242px;
    margin: auto;
    overflow: hidden;
  }

  @media (width < 460px) {
    .container {
      padding: 0.5rem 1.5rem;
    }
  }

  @media (width < 950px) {
    .divider {
      height: 0.1rem;
      width: 100%;
    }
  }
  .section-basic {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
  .section-basic h1 {
    font-size: var(--text-2xl);
    font-weight: var(--semibold);
  }
  .section-basic h2 {
    font-size: var(--text-lg);
    font-weight: var(--semibold);
  }
  .section-basic a {
    text-decoration: underline;
    cursor: pointer;
    font-weight: var(--semibold);
  }

  .section-basic__container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    color: var(--gray-950);
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 20px;
    border-radius: var(--rounded-full);
    cursor: pointer;
  }

  .button__disabled {
    cursor: inherit;
  }

  .button--primary {
    border: 1px solid var(--color-primary);
    color: var(--color-secondary);
    background-color: var(--color-primary);
  }

  .button--primary:hover {
    transition: 0.2s all;
    box-shadow: 0 0 0.6rem rgba(44, 44, 44, 0.9);
  }

  .button--primary-outlined {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    background-color: var(--color-secondary);
  }

  .button--primary-outlined:hover {
    transition: 0.2s all;
    box-shadow: 0 0 0.6rem rgba(44, 44, 44, 0.3);
  }

  .button--primary-outlined-sm {
    border-radius: var(--rounded-md);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    background-color: var(--color-secondary);
  }

  .button--secondary-sm {
    border-radius: var(--rounded-md);
    border: 1px solid var(--color-secondary);
    color: var(--color-primary);
    background-color: var(--color-secondary);
  }

  .button--secondary-outlined-sm {
    border-radius: var(--rounded-md);
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
    background-color: var(--color-primary);
  }
</style>
